.card-container{
    background-color: #FCF66A;
    width: 296px;
    min-height: 400px;
    height: auto;
    padding: 0 15px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container>h3{
    text-align: center;
}
.standup-list{
    min-width: 200px;
    margin: 25px 0;
}
.list-item{
    display: list-item;
}
