.card-container{
    background-color: #FCF66A;
    width: 296px;
    min-height: 350px;
    height: auto;
    padding: 0 15px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
    /* justify-content: space-between; */
}
h3, .standup-list{
    margin: 30px 0;
}
.card-container>h3{
    text-align: center;
}
.standup-list{
    max-width: 300px;
    margin-right: 25px;
    margin-left: 25px;
}
.list-item{
    word-wrap: break-word;
    display: list-item;
}
