ul{
   list-style: none;
}
nav{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
nav .title{
    font-size: 32px;
}
.title-style{
    color:#ff9500;
}
.navbar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.nav-item a{
    padding: 0 3rem;
    font-size: 18px;
}
.nav-item a:hover{
    transition: 0.6s color;
    color: #ff9500;

}

