@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f1;
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
.container {
  padding: 100px 0;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
