@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ecf0f1;
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
.container {
  padding: 100px 0;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}
.left-container{
  width: 550px;
  max-height: 300px;
}
.right-container{
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

